/* Defining Grid */
body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: skyblue;
  color: red;
}

.box {
  background-color: green;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
